<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Vocabulary ᕙ(⇀‸↼‶)ᕗ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
                               integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                               crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    </head>

    <body class=bg-dark>
        <div id="app" class="container text-center bg-dark">
            <div class="row h-100 m-xs-0 m-sm-3 m-md-4 m-lg-5">

                <!-- Error -->
                <div v-if="display===-1">
                     Impossible d'accèder aux données
                 </div>

                <!-- Main -->
                <div v-else-if="display===0" class="container-fluid bg-dark">
                    <h5 class="bg-word  mx-1 px-2 mx-sm-2 px-sm-3 mx-md-3 px-md-4
                                        my-3 py-3 my-sm-4 py-sm-4">
                        {{ words[currentIndex].Word }} 

                        <small v-if="words[currentIndex].Type !== ''" class="h6 text-black-50">
                             ({{ words[currentIndex].Type }})
                        </small>
                    </h5>

                    <field title="Translation"  :text="words[currentIndex].Translation"></field>
                    <field title="Synonym"      :text="words[currentIndex].Synonym"></field>
                    <field title="Context"      :text="words[currentIndex].Context"></field>
                    <field title="Example"      :text="words[currentIndex].Example"></field>
                    <field title="Comment"      :text="words[currentIndex].Comment"></field>

                    <!-- Buttons -->
                    <div class="container mx-auto mt-4 p-1 h3 h2-sm cursor-pointer button-icon">
                        <span class="row">
                            <span @click="invert()"   class="col-2 py-1 py-sm-2"><i class="bi bi-shuffle">          </i></span>
                            <span @click="display=1"  class="col-2 py-1 py-sm-2"><i class="bi bi-book">             </i></span>
                            <span @click="display=2"  class="col-2 py-1 py-sm-2"><i class="bi bi-clipboard2-check"> </i></span>

                            <span @click="backward()" class="col-3 py-1 py-sm-2 h3" :class="{'text-muted': historyCursor<=0}">
                                <span v-show="historyCursor>0" class="h5 p-1 p-sm-2">{{historyCursor}}                  </span>
                                <i class="bi bi-arrow-left-square"></i>
                            </span>

                            <span @click="forward()" class="col-3 py-1 py-sm-2 h2" :class="{'button-icon-forward': historyCursor==history.length-1}">
                                <i class="bi bi-arrow-right-square"></i>
                                <span v-show="history.length-1-historyCursor>0" class="h4 p-1 p-sm-2"> {{history.length-1 - historyCursor}}</span>
                            </span>
                        </span>
                    </div>
                </div>

                <!-- List -->
                <div v-else-if="display===1" @click="display=0" class="data-bs-slide container-fluid bg-dark">
                        <div class="bg-dark col-list border-list m-1 m-sm-3">
                            <div v-for="(item, index) in words" class="col-list elem-list cursor-pointer" @click="historyCursor+=1, currentIndex=index">
                                 {{ item.Word }}
                             </div>
                        </div>
                        <span @click="display=0" class="cursor-pointer col-list h4"><i class="bi bi-arrow-return-left"></i></span>
                </div>

                <!-- History -->
                <div v-else-if="display===2" @click="display=0" class="data-bs-slide container-fluid bg-dark">
                    <div class="bg-dark col-history border-history mx-1 my-2 mx-sm-3 my-sm-4">
                        <div v-for="index in sortedHistory()" class="col-history elem-history cursor-pointer" @click="currentIndex=index">
                            {{ words[index].Word }}
                        </div>
                    </div>
                    <span @click="display=0" class="cursor-pointer col-history h4"><i class="bi bi-arrow-return-left"></i></span>
                </div>

            </div>
        </div>

        <!-- Template Field -->
        <script type="text/x-template" id="field-template">

            <div v-if="text === ''" class="bg-dark text-muted font-italic border border-secondary m-1 p-2 m-sm-2 p-sm-3 m-md-3 p-md-4">
                {{ title }}
            </div>

            <div v-else @click="revealed = !revealed" class="m-1 p-2 m-sm-2 p-sm-3 m-md-3 p-md-4 cursor-pointer" 
                                                     :class="{'bg-field': !revealed, 'bg-field-revelated': revealed}">

                <span v-if="!revealed">
                    {{ title }}
                </span>
                <span v-else>
                    {{ text }}
                </span>
            </div>
        </script>

        <!-- Vue -->
        <script src="https://unpkg.com/vue@3"></script>
        <script src="main.js"></script>

    </body>
 </html> 
